*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #eee;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
  }

  .hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .menu-space {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
  
  .menu-space a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
  }
  
  .menu-space a:hover {
    background-color: #ddd;
    border-radius: 5px;
  }

  .search-bar {
    background-color: #35434A;
    color: #FFFFFF;
    border-radius: 999px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .search-bar .search-icon {
    color: #FFFFFF;
    font-size: 16px;
  }
  
  .search-bar input {
    background: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
    width: 100%;
  }
  
  .search-bar input::placeholder {
    color: #FFFFFF;
    opacity: 0.8;
  }

  .account-icon, .basket-icon {
    width: 30px;
    height: 30px;
    fill: white;
    margin-right: 10px;
  }
  