/* style.css */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #eee;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
  }
  
  .logo-box {
    width: 50px;
    height: 50px;
    background-color: #22333b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 1rem;
    border-radius: 9px;
    overflow:hidden;
  }

  .logo-img img{
    width: 100%;
    height: auto;
    display: block;
  }

  .hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .menu-space {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
  
  .menu-space a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
  }
  
  .menu-space a:hover {
    background-color: #ddd;
    border-radius: 5px;
  }

  .main-body{
    width: 100%;
  }
  .mn-bd-header{
    position: relative;
    background-image: url('index-images/image 7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    overflow: hidden;
  }

  .mn-bd-header::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;
  }

  .header-words{
    width: 100%;
    z-index: 2;
  }

  .header-words h1{
    color: white;
    font-size: 5rem;
  }

  .header-elements{
    width: 100%;
    z-index: 2;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    padding: 10px;
    position: relative;
    
  }

  .search-bar {
    background-color: #35434A;
    color: #FFFFFF;
    border-radius: 999px; /* this makes it super rounded */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .search-bar .search-icon {
    color: #FFFFFF;
    font-size: 16px;
  }
  
  .search-bar input {
    background: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
    width: 100%;
  }
  
  .search-bar input::placeholder {
    color: #FFFFFF;
    opacity: 0.8;
  }
  

  .account-btn{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }

  .account-btn a{
    color: inherit;
    text-decoration: none;
  }

  .account-line{
    height: 1px;
    width: 75%;
  }

  .nebula-wm{
    position: absolute;
    display: flex;
    color: white;
    bottom: 50px;
    right: 0;
    z-index: 2;
  }

  .mn-bd-aboutus{
    display: flex;
    width: 100%;
    padding: 50px;
  }

  .about-image{
    width: 40%;
    text-align: center;
  }

  .about-image img{
    height: 100%;
  }

  .about-content{
    width: 60%;
    padding: 10px;
  }

  .simple-btn {
    padding: 10px 20px;
    background-color: #22333b;
    color: rgba(255, 255, 255, 0.666);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .simple-btn:hover {
    background-color: #334950;
  }

  .mn-bd-signup{
    color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('index-images/image 9.png'), url('index-images/image.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: auto, cover;
    position: relative;
  }
  
  .mn-bd-signup::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    overflow: hidden;
  }

  .signupcontent{
    z-index: 1;
    position: relative;
  }

  .signupnebula-wm{
    position: absolute;
    margin-left: 5px;
  }

  .mb-bd-ender{
    font-weight: bold;
    text-align: center;
  }

.footer {
    display: grid;
    grid-template-columns: 9.5fr 7.5fr 4.5fr;
    gap: 20px;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .footer-column {
    padding: 60px;
  }
  
  /*.footer-column1 {
    background-color: #444;
  }
  
  .footer-column2 {
    background-color: #555;
  }
  
  .footer-column3 {
    border: 2px dashed red;
  }*/

  .footer-icons{
    display: flex;
    align-items: center;
  }

  .footer-line{
    height: 2px;
    width: 100%;
    background-color: white;
    border: none;
    grid-column: 1/ -1;
  }

  .footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer ul li{
    margin-bottom: 15px;
  }
  .footer h3{
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 1.2rem;
  }

  .socials{
    background-color: #333;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .icon-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 25%;
    justify-content: center;
    align-items: center;
  }

  .icon-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-note {
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: #aaa;
  }
  

  @media (max-width: 480px) {
    /* Small phones */
    .mn-bd-header{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
    }

    .header-words h1{
      font-size: 3.5rem;
      margin-bottom: 100px;
    }

    .mn-bd-aboutus{
      display: flex;
      flex-direction: column;
    }

    .about-image{
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .about-image img{
      width: 100%;
      height: auto;
    }

    .about-content{
      width: 100%;
    }

    .simple-btn{
      text-align: center;
    }

    .mn-bd-signup{
      padding-top: 100px;
      padding-bottom: 100px;
      background-image: url('index-images/image.png');
      background-size: cover;
    }

    .signupcontent h1{
      font-size: 4rem;
    }

    .footer{
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    .footer-column{
      padding: 0px;
      text-align: center;
      align-items: center;
    }
    
    .footer-icons{
      justify-content: center;
    }

    .footer-column ul,
    .footer-column p {
      display: none;
    }

    .footer-column ul.footer-dropdown-open,
    .footer-column p.footer-dropdown-open {
      display: block;
    }

    .footer-column h3::after {
      font-size: 0.8rem;
      color: #aaa;
    }

    .footer h3{
      margin: 10px;
    }


    .menu-space {
      display: none;
      flex-direction: column;
      background-color: #eee;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 0;
      z-index: 999;
    }
  
    .menu-space.show {
      display: flex;
    }
  
    .menu-space a {
      padding: 1rem;
      text-align: center;
      border-top: 1px solid #ccc;
    }
  
    .hamburger {
      margin-left: auto;
    }
  }
  
  @media (max-width: 768px) {
    /* Smartphones */
    .mn-bd-header{
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .header-words h1{
      font-size: 3.5rem;
      margin-bottom: 100px;
    }

    .mn-bd-aboutus{
      display: flex;
      flex-direction: column;
    }

    .about-image{
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .about-image img{
      max-width: 378px;
    }

    .about-content{
      width: 100%;
    }

    .simple-btn{
      text-align: center;
    }

    .mn-bd-signup{
      padding-top: 100px;
      padding-bottom: 100px;
      background-image: url('index-images/image.png');
      background-size: cover;
    }

    .signupcontent h1{
      font-size: 3rem;
    }

    .footer{
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    .footer-column{
      padding: 0px;
      text-align: center;
      align-items: center;
    }
    
    .footer-icons{
      justify-content: center;
    }

    .footer-column ul,
    .footer-column p {
      display: none;
    }

    .footer-column ul.footer-dropdown-open,
    .footer-column p.footer-dropdown-open {
      display: block;
    }

    .footer-column h3::after {
      font-size: 0.8rem;
      color: #aaa;
    }

    .footer h3{
      margin: 10px;
    }


    .menu-space {
      display: none;
      flex-direction: column;
      background-color: #eee;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 0;
      z-index: 999;
    }
  
    .menu-space.show {
      display: flex;
    }
  
    .menu-space a {
      padding: 1rem;
      text-align: center;
      border-top: 1px solid #ccc;
    }
  
    .hamburger {
      margin-left: auto;
    }
  }
  
  @media (max-width: 992px) {
    /* Tablet portrait */
    .mn-bd-header{
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .header-words h1{
      font-size: 3.5rem;
      margin-bottom: 100px;
    }

    .mn-bd-aboutus{
      display: flex;
      flex-direction: column;
    }

    .about-image{
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .about-image img{
      max-width: 378px;
    }

    .about-content{
      width: 100%;
    }

    .simple-btn{
      text-align: center;
    }

    .mn-bd-signup{
      padding-top: 100px;
      padding-bottom: 100px;
      background-image: url('index-images/image.png');
      background-size: cover;
    }

    .signupcontent h1{
      font-size: 3rem;
    }

    .footer{
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    .footer-column{
      padding: 0px;
      text-align: center;
      align-items: center;
    }
    
    .footer-icons{
      justify-content: center;
    }

    .footer-column ul,
    .footer-column p {
      display: none;
    }

    .footer-column ul.footer-dropdown-open,
    .footer-column p.footer-dropdown-open {
      display: block;
    }

    .footer-column h3::after {
      font-size: 0.8rem;
      color: #aaa;
    }

    .footer h3{
      margin: 10px;
    }


    .menu-space {
      display: none;
      flex-direction: column;
      background-color: #eee;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 0;
      z-index: 999;
    }
  
    .menu-space.show {
      display: flex;
    }
  
    .menu-space a {
      padding: 1rem;
      text-align: center;
      border-top: 1px solid #ccc;
    }
  
    .hamburger {
      margin-left: auto;
    }
  }

  @media (max-width: 1200px){
    /*Tablet Landscape*/
    .header-words h1{
      font-size: 4rem;
    }

    .mn-bd-aboutus{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-image{
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .about-image img{
      width: 90%;
      height: auto;
    }

    .about-content{
      width: 100%;
    }

    .footer-column3 {
      padding-left: 30px;
    }
  }